.main-carousel {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.m-c__slides {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.m-c-slide {
  flex: 0 0 100%;
}

.m-c-slide__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    308.6% 100% at 30.62% 0%,
    #1d295d 0%,
    #264393 100%
  );
}

.m-c-slide__text {
  font-family: "Avenir", sans-serif;
  padding-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
}

.slide-num {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: #9dcefc;
}

.slide-bold {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
}

.m-c__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.m-c__left {
  left: 0;
  margin-left: 43px;
}

.m-c__right {
  right: 0;
  margin-right: 43px;
}
