* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background: #1d295d;
}

.is-no-scroll {
  overflow: hidden;
}

h2,
.h2 {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 95.2%;
}

h3,
.h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
h4,
.h4 {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 95.2%;
}

.other-products {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 95.2%;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: #fff;
}

.link {
  color: #fff;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #9dcefc;
  }
}

img {
  display: block;
}
ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  position: relative;
  padding: 62px 0 0 0;
  min-height: 1486px;
}

.main-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.main-bg--absolute {
  position: absolute;
  bottom: 0;
  top: auto;
}

.col-content {
  max-width: 844px;
  width: 100%;
}

.section-title {
  margin-bottom: 40px;
}

.cols-wrap {
  display: flex;
  justify-content: space-between;
}

.col-catalog {
  max-width: 278px;
  width: 100%;
}

.light-btn {
  display: inline-block;
  padding: 12px 42px;
  background: #9dcefc;

  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #1d295d;

  transition: 0.2s ease-in;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #b6dbfd;
  }

  &:active {
    background: #6cb6fa;
  }
}

.dark-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: 400;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #9dcefc;
  background: #264393;
  border: 1px solid #9dcefc;
  padding: 12px 46px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #9dcefc;
    color: #264393;
  }
  &:active {
    background: #aed7fc;
    color: #1d295d;
  }
}

.sticker-sale {
  display: inline-block;
  padding: 5px 12px;
  background: radial-gradient(100% 100% at 50% 0%, #dc1515 0%, #bb0808 100%);
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 95.2%;
}

.right-edge {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.path-wrap {
  margin: 3px 0 65px 0;
}

.path {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}

.path__slash {
  display: inline-block;
  margin: 0 10px;
}

.desc-block-wrap {
  margin-bottom: 100px;
}

.desc-block {
  position: relative;
  max-width: 844px;
  width: 100%;
}

.desc-block__content {
  max-width: 798px;
  width: 100%;
  padding: 41px 37px 30px 282px;
  background: #264393;
  margin-left: auto;
  min-height: 350px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.desc-block--with-slider {
  min-height: 500px;
}

.desc-block__preview {
  position: absolute;
  top: 25px;
  left: 0;
}

.desc-block__title {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 40px;
}

.desc-block__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.desc-block__list {
  padding-left: 47px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

.desc-block__item {
  display: inline-block;
  width: 178px;
  margin: 0 20px 10px 0;
}
.desc-block__img {
  width: 300px;
  height: 300px;
  border: 2px solid #9dcefc;
}

.desc-block__paragraph {
  margin-bottom: 20px;
}

.not-shadow {
  box-shadow: none;
}

.desc-block__order {
  text-align: right;
  margin-bottom: 19px;
}

.desc-block__price {
  display: flex;
  justify-content: space-between;
}

.desc-block__price-text {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.desc-block__price-num--blue {
  color: #9dcefc;
}

.desc-block__sticker {
  position: absolute;
  top: 18px;
}

.serch__request {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 95.2%;
  margin-bottom: 40px;
}

.up {
  position: fixed;
  display: none;
  right: 215px;
  bottom: 88px;
  opacity: 0.3;
  transition: 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.up--is-show {
  display: block;
}

.up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  background: #264393;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.up-btn__img {
  height: 30px;
  width: 30px;
}
