* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1d295d;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
}
