* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background: #1d295d;
}

h2,
.h2 {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 95.2%;
}

h3,
.h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
h4,
.h4 {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 95.2%;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
}
ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  position: relative;
  padding: 62px 0 0 0;
}

.main-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.col-content {
  max-width: 844px;
  width: 100%;
}

.section-title {
  margin-bottom: 40px;
}

.cols-wrap {
  display: flex;
  justify-content: space-between;
}

.col-catalog {
  max-width: 278px;
  width: 100%;
}

.light-btn {
  display: inline-block;
  padding: 12px 42px;
  background: #9dcefc;

  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: #1d295d;
  transition: 0.2s ease-in;

  &:hover {
    background: #b6dbfd;
  }

  &:active {
    background: #6cb6fa;
  }
}

.dark-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: 400;
  font-weight: normal;
  font-size: 20px;
  line-height: 95.2%;
  color: #9dcefc;
  background: #264393;
  border: 1px solid #9dcefc;
  padding: 12px 46px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
  &:hover {
    background: #9dcefc;
    color: #264393;
  }
  &:active {
    background: #aed7fc;
    color: #1d295d;
  }
}

.sticker-sale {
  display: inline-block;
  padding: 5px 12px;
  background: radial-gradient(100% 100% at 50% 0%, #dc1515 0%, #bb0808 100%);
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 95.2%;
}

.right-edge {
  text-align: right;
}
