.products {
  margin-bottom: 100px;
}

.product-card {
  position: relative;
  width: 100%;
  padding: 0 0 20px 25px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.products__wrap {
  margin-bottom: 20px;
}

.product-card__desc {
  display: flex;
  background: #264393;
  height: 150px;
  padding: 23px 15px 0 198px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.product-card__text {
  margin-right: 52px;
}

.product-card__title {
  margin-bottom: 37px;
}

.product-card__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 198px;
  height: 150px;
  border: 2px solid #9dcefc;
}

.product-card__price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 100%;
}

.product-card__price--blue {
  color: #9dcefc;
}

.product-card__sticker {
  margin-bottom: 23px;
}
